<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>PerformanceRating</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background:#00000;">
 <div class="login">
	<h1>PerformanceRating RESULT: </h1>
   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>